---
layout: default
---
{%- assign _lessons = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_lessons -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _lesson in _lessons -%}
		{%- capture _title -%}
			<a href="{{- _lesson.url | absolute_url -}}">{{- _lesson.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _lesson.author -%}{{- _lesson.author }} | {% endif %}
			{{- _lesson.date | date_to_long_string -}}
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _lesson.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _lesson.url | absolute_url -}}">read more</a>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>
